{% extends "../base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Project LIST</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Project Name</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Technology</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Estimated Hours</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Start Date</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">End Date</th>
                  <th class="text-center text-secondary opacity-7">ACTION</th>
                </tr>
              </thead>
              <tbody>
                {% for project in projects %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ project.name }}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-center text-xs font-weight-bold mb-0">{{ project.technology }}</p>
                  </td>
                  <td class="text-center align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-success">{{ project.estimated_hours }}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{ project.startDate }}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{ project.endDate }}</span>
                  </td>
                  <td class="align-middle">
                    <a href="{% url 'update_project' project.pk %}" class="btn btn-success" data-toggle="tooltip" data-original-title="Edit user">
                      <i class="fa-solid fa-pen-to-square"></i> EDIT
                    </a>
                    <a href="{% url 'project_detail' project.pk %}" class="btn btn-info" data-toggle="tooltip" data-original-title="Edit user">
                      <i class="fa-solid fa-eye"></i> VIEW
                    </a>
                    <button class="btn btn-danger delete-btn" data-url="{% url 'delete_project' project.pk %}" data-name="{{ project.name }}">
                      <i class="fa-solid fa-trash"></i> DELETE
                    </button>
                    <a href="{% url 'project_team_create' %}" class="btn btn-primary" data-toggle="tooltip" data-original-title="Edit user">
                      <i class="fa-solid fa-square-plus"></i> CREATE TEAM
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  $(document).ready(function() {
    $('.delete-btn').click(function() {
      var url = $(this).data('url');
      var projectName = $(this).data('name');
      if (confirm("Are you sure you want to delete " + projectName + "?")) {
        $.ajax({
          url: url,
          type: 'POST',
          data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            // Add any additional data you need to send to the backend for deletion
          },
          success: function(response) {
            // Handle success, like removing the row from the table
            // For example:
            // $(this).closest('tr').remove();
            location.reload(); // Reload the page to reflect changes
          },
          error: function(xhr, errmsg, err) {
            // Handle error
          }
        });
      }
    });
  });
</script>

{% endblock content %}
