{% extends "../base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid py-4">
   <div class="row mt-4">
       <div class="col-12">
           <div class="card mb-4">
               <div class="card-header pb-0">
                   <h6>Project DETAIL</h6>
               </div>
               <div class="card-body px-0 pt-0 pb-2">
                   <ul class="list-group list-group-flush">
                       <li class="list-group-item">
                           <span class="text-secondary text-xs font-weight-bold">Project Name:</span>
                           <span class="text-capitalize text-sm">{{ project.name }}</span>
                       </li>
                       <li class="list-group-item">
                           <span class="text-secondary text-xs font-weight-bold">Technology:</span>
                           <span class="text-capitalize text-sm">{{ project.technology }}</span>
                       </li>
                       <li class="list-group-item">
                           <span class="text-secondary text-xs font-weight-bold">Estimated Hours:</span>
                           <span class="text-capitalize text-sm">{{ project.estimated_hours }}</span>
                       </li>
                       <li class="list-group-item">
                           <span class="text-secondary text-xs font-weight-bold">Start Date:</span>
                           <span class="text-capitalize text-sm">{{ project.startDate }}</span>
                       </li>
                       <li class="list-group-item">
                           <span class="text-secondary text-xs font-weight-bold">End Date:</span>
                           <span class="text-capitalize text-sm">{{ project.endDate }}</span>
                       </li>
                   </ul>
               </div>
           </div>
       </div>
   </div>
</div>

{% endblock content %}