{% extends "../base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid py-4">
<div class="row mt-4">
   <div class="col-12">
      <div class="card mb-4">
         <div class="card-header pb-0">
            <h6>Task List</h6>
         </div>
         <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
               <table class="table align-items-center mb-0">
                  <thead>
                     <tr>
                        <th class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Project Name</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Module Name</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Task Name</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Priority</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                        {% if request.user.is_manager %}
                        <th class="text-center text-secondary text-xs opacity-7">ACTION</th>
                        {% endif %}
                     </tr>
                  </thead>
                  <tbody>
                     {% for task in tasks %}
                     <tr>
                        <td>
                           <div class="d-flex px-2 py-1">
                              <div class="d-flex flex-column justify-content-center">
                                 <h6 class="mb-0 text-sm">{{ task.project }}</h6>
                              </div>
                           </div>
                        </td>
                        <td>
                           <p class="text-center text-xs font-weight-bold mb-0">{{ task.module }}</p>
                        </td>
                        <td class="text-center align-middle text-center text-sm">
                           <span class="badge badge-sm bg-gradient-success">{{ task.title }}</span>
                        </td>
                        <td class="align-middle text-center">
                           {% if task.priority == "High" %}
                           <span class="text-secondary text-xs font-weight-bold text-danger">{{ task.priority }}</span>                    
                           {% elif task.priority == "Medium" %}
                           <span class="text-secondary text-xs font-weight-bold text-warning">{{ task.priority }}</span>
                           {% elif task.priority == "Low" %}
                           <span class="text-secondary text-xs font-weight-bold text-success">{{ task.priority }}</span>
                           {% endif %}
                        </td>
                        <td class="align-middle text-center">
                           <span class="text-secondary text-xs font-weight-bold">{{ task.status }}</span>
                        </td>
                        {% if request.user.is_manager %}
                        <td class="align-middle text-center">
                           <a href="{% url 'update_task' task.pk %}" class="btn btn-success" data-toggle="tooltip" data-original-title="Edit module">
                           <i class="fa-solid fa-pen-to-square"></i> EDIT
                           </a>
                           <a href="{% url 'deletetask' task.pk %}" class="btn btn-danger" data-toggle="tooltip" data-original-title="Delete module">
                           <i class="fa-solid fa-trash"></i> DELETE
                           </a>
                           <a href="{% url 'assign-task' task.pk %}" class="btn btn-info" data-toggle="tooltip" data-original-title="Assign module">
                           <i class="fa-solid "></i> ASSIGN
                           </a>
                        </td>
                        {% endif %}
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>   
</div>

{% endblock content %}